
/* --------------- User Panel ------------- */
.user_panel .cart_layout {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height:100vh;
    z-index: 9999;
    background-color: #22283176 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior:inherit;
    transform: translateY(-110%);
    transition: 200ms;
    padding: 10px;
}

.cancel {
    position: fixed;
    top: 0px;
    right: 0px;
    background: red;
    color: white;
    text-align: center;
    font-size: 30px;
    width: 35px;
    height: 32px;
    cursor: pointer;
    z-index: 99;
}

.cart_layout > div {
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 30px 0;
    height: 80vh;
    overflow: auto;
}
.cart_layout > div::-webkit-scrollbar{
    display: none;
}

.cart_layout #carts {
    padding: 0 20px;
}

.user_panel .cart_layout::-webkit-scrollbar{
    display: none;
}

.cart_layout_hide_show {
    transform: translateY(0) !important;
}

.user_panel .cart_layout .card {
    border-radius: 10px;
    background-color: #222831 !important;
    color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cart_layout .img_container {
    background-color: #F1F2F3;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.cart_layout .img_container img {
    width: 80%;
}

.user_panel .cart_layout #carts button {
    border-radius: 10px;
    outline: none;
    padding: 6px 12px;
    border: none;
    background-color: #FFBE33;
    color: #fff;
}

.user_panel .cart_layout h4{
    font-family: 'Dancing Script', cursive;
}

.cart_layout .checkout-action a {
    display: inline-block;
    padding: 8px 30px;
    background-color: #FFBE33;
    color: #fff;
    border-radius: 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
}


/* ----------------- home page ------------- */

.offer_section .box .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


/* ----------------- Profile page ----------- */

.profile_img img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.profile_img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border: 1px dotted #ddd;
    border-radius: 8px;
}

.profile_info button, .profile_info button:focus {
    display: inline-block;
    padding: 8px 30px;
    background-color: #eee;
    color: red;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none !important;
    outline: none !important;
}


.profile .form_container .form-control, .order_section .form_container .form-control {
    width: 100%;
    border: none;
    height: 50px;
    padding-left: 25px;
    border: 1px solid #999;
    outline: none;
    color: #000000;
    border-radius: 5px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.profile .form_container button, .order_section .form_container button {
    margin-top: 15px;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 55px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
}

.logout-card {
    color: #333;
}

.logout-card:hover {
    color: red;
    cursor: pointer;
}

/* --------------- Order ---------------- */

.order {
    font-size: 14px;
    border-radius: 10px;
}

.order_status {
    text-transform: uppercase;
}

.order_lable {
    font-size: 15px;
}




div:where(.swal2-container).swal2-center>.swal2-popup {
    z-index: 99999 !important;
}