
/* --------------- User Panel ------------- */
.user_panel .cart_layout {
    background-color: #222831c4 !important;
    /* background-color: #ffffff5d !important; */
    position: absolute;
    top: 90px;
    right: -400px;
    z-index: 99;
    width: 380px;
    height: 600px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #ddd;
    overflow-y: auto;
    transition: 350ms;
}
.user_panel .cart_layout::-webkit-scrollbar{
    display: none;
}

.cart_layout_hide_show {
    right: 0px !important;
}

.user_panel .cart_layout .card {
    border-radius: 10px;
    background-color: #222831 !important;
    color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cart_layout .img_container {
    background-color: #F1F2F3;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.cart_layout .img_container img {
    width: 80%;
}

.user_panel .cart_layout #carts button {
    border-radius: 10px;
    outline: none;
    padding: 6px 12px;
    border: none;
    background-color: #FFBE33;
    color: #fff;
}

.user_panel .cart_layout h4{
    font-family: 'Dancing Script', cursive;
}


/* ----------------- home page ------------- */

.offer_section .box .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


/* ----------------- Profile page ----------- */

.profile_img img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.profile_img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border: 1px dotted #ddd;
    border-radius: 8px;
}

.profile_info button, .profile_info button:focus {
    display: inline-block;
    padding: 8px 30px;
    background-color: #eee;
    color: red;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none !important;
    outline: none !important;
}


.profile .form_container .form-control {
    width: 100%;
    border: none;
    height: 50px;
    padding-left: 25px;
    border: 1px solid #999;
    outline: none;
    color: #000000;
    border-radius: 5px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.profile .form_container button {
    margin-top: 15px;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 55px;
    background-color: #ffbe33;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
}