

/* --------------- Admin ---------------- */

.content-wrapper{
    /* background-color: #222831; */
    background-color: #EDF2F6;
}

.card {
    background-color: #fff !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
}

